.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }
  
  .login-form,
  .login-info { 
    width: 350px;
    height: 400px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .login-form {
    background-color: #f9f9f9;
  }
  
  .login-info {
    position: relative;
    background-color: #d9edf7;
  }
  
  .login-info::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background-color: #5bc0de;
    border-radius: 50%;
  }
  
  .login-form h1,
  .login-form label,
  .login-info h2 {
    text-align: center;
  }
  
  .login-form h1 {
    margin-bottom: 0;
  }
  
  .login-button {
    margin-top: 20px;
    width: 100%;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  a {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .login-form svg {
    font-size: 80px;
    margin: 2px;
  }
  
  @media (max-width: 576px) {
    .login-info {
      display: none;
    }
  
    .login-form,
    .login-info {
      width: 100%;
      height: auto;
    }
  }