/** 
 * Stylesheet for forklift visuals with 4 and 6 tires configurations.
 * This CSS file provides the styling necessary to display the forklift and its tires in the application,
 * enabling interaction and visual representation of tire details based on user selection.
 */

/** 
 * Represents the central part of the forklift, including the visual representation of the forklift base.
 */
.fkl-base-forklift {
    width: 20%;
    height: 90%;
    margin: 1rem auto;
    background-image: url('../images/forklift.png');
    background-position: center;
    background-size: cover;
    border: 2px solid white;
}

/** 
 * Container for the left and right sets of tires on the forklift, arranging them vertically.
 */
.fkl-tires-l,
.fkl-tires-r {
    width: 10%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid green;
    margin: 1rem auto;
}

.fkl-tire-row {
    display: flex;
    flex-direction: row;
    /* Aquí van las llantas una al lado de la otra */
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0.5rem 0;
    gap: 0.5rem;
    /* Espacio entre llantas */
    /*
    border: 2px solid red;
    */
}


.fkl-blank {
    flex: 1;
    margin: 0.5rem 0%;
    background-position: center;
    background-size: cover;
}

/** 
 * Styles for individual tires on both the left and right sides of the forklift, making them interactive.
 */
.fkl-tires-l .fkl-tire,
.fkl-tires-r .fkl-tire {
    width: 100%;
    height: 100%;
    flex: 1;
    margin: 0.5rem 0%;
    background-position: center;
    background-size: cover;
    background-image: url('../images/llanta.png');
    cursor: pointer;
    flex: 1;
    /*
    border: 2px solid blue;
    */
    /* Visual distinction for tires */
}

/**
 * Styles for the area that shows details of the recovered tires, providing visibility on the status 
 * of the tires (Device pressure, temperature and battery).
 */
.fkl-info-tire {
    width: 60%;
    height: 10%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1;
}