.g-background {
  background-color: black;
}

.g-mapa {
  text-align: center;
  justify-content: center;
  width: 95%;
  height: 90%;
  margin: 2% auto;
  border-radius: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.back-button {
  margin: 20px 0;
  width: 80%;
}

.g-option-item {
  width: 300px;
  height: 250px;
  margin: 0px 2%;
  border: 2px solid #d1d0cc;
  padding: 10px;
  border-radius: 5%;
  cursor: pointer;
  flex-wrap: nowrap;
  overflow-y: auto;
}

.graph-panel {
  width: 100%;
  height: 280px;
  margin: auto;
}

.graph-item {
  width: 50%;
  height: 280px;
  margin: auto;
  color: white;

}

.graph-container {
  width: 100%;
  height: 280px;
  margin: auto;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}