.pagination-dark .page-link {
  background-color: #343a40; /* gris oscuro */
  color: #fff;
  border: 1px solid #495057;
}

.pagination-dark .page-link:hover {
  background-color: #495057;
  color: #fff;
}

.pagination-dark .page-item.active .page-link {
  background-color: #0d6efd; /* azul Bootstrap */
  border-color: #0d6efd;
  color: #fff;
}

.pagination-dark .page-item.disabled .page-link {
  background-color: #212529;
  color: #6c757d;
}
