/* busMenuPanel.css */

.vmp-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.vmp-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    max-width: 90%;
    max-height: 80%;
    border-radius: 2%;
    overflow: auto;
    box-sizing: border-box;
    color: black;
}

/* 
    border: 2px solid red;
*/

.vmp-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 90px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 15%;
    background-color: #FDCC9B;
}

.vmp-search-bar {
    margin-bottom: 20px;
    width: 100%; 
    display: flex;
    justify-content: center;
}

.vmp-search-bar input {
    width: 80%;
    max-width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Media query for small screens
@media (max-width: 600px) {
    .panel {
        width: 100%;
        height: auto;
    }

    .item {
        width: 80%;
        margin: 5px 10%;
    }
}
 */

/* Media query for medium screens 
@media (min-width: 601px) and (max-width: 1024px) {
    .panel {
        width: 90%;
        height: auto;
    }

    .item {
        width: 45%;
        margin: 5px 2.5%;
    }
}
*/

/* Media query for large screens 
@media (min-width: 1025px) {
    .panel {
        width: 80%;
        height: 80%;
    }

    .item {
        width: 40%;
        margin: 5px 5%;
    }
}
*/