/* MainPanel.css */
.main-panel-container {
  display: flex;
} 

.main-sidebar {
  width: 20%;
  height: 900px;
  border: 2px solid #d1d0cc;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 900px;
  border: 2px solid #d1d0cc;
}

.main-map-container {
  width: 100%;
  height: 550px;
  border: 2px solid #d1d0cc;
  cursor: pointer;
}

.main-no-vehicle-selected {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.main-options-panel {
  width: 100%;
  height: 350px;
  border: 2px solid #d1d0cc;
  overflow: auto;
}

.main-options-panel-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-options-panel-content > * {
  flex: 1 1 calc(20% - 10px);
  min-width: 200px; /* Para evitar que se hagan muy peque침os */
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .main-options-panel-content > * {
    flex: 1 1 calc(50% - 10px); /* 2 por fila en tablets y pantallas medianas */
  }
}

@media (max-width: 600px) {
  .main-options-panel-content > * {
    flex: 1 1 100%; /* 1 por fila en m칩viles */
  }
}

.mixed-view {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 550px; /* 拘勇 Igual que .main-map-container */
}

.camera-view-panel {
  height: 550px; /* Igual que .main-map-container */
  overflow-y: auto;
  background-color: #1a1a1a;
  border-radius: 8px;
  padding: 0.5rem;
}

.camera-view-panel::-webkit-scrollbar {
  width: 6px;
}

.camera-view-panel::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

.half-panel {
  flex: 1;
  overflow: hidden;
  border-radius: 8px;
  background-color: #1a1a1a;
  padding: 0.5rem;
  height: 100%; /* 拘勇 A침ade esta l칤nea */
}

.left-panel {
  border-right: 1px solid #333;
  overflow-y: auto; /* 游녣 Permite scroll solo en el panel de c치maras */
}

.left-panel::-webkit-scrollbar {
  width: 6px;
}

.left-panel::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}
.right-panel {
  border-left: 1px solid #333;
}

@media (max-width: 768px) {
  .mixed-view {
    flex-direction: column;
  }
  .left-panel,
  .right-panel {
    border: none;
  }
}